<%= form_with(model: @list, local: true) do |f| %>
  <% if @list.errors.any? %>
    <div class="errors">
      <h2><%= pluralize(@list.errors.count, "error") %> prevented this list from being saved:</h2>
      <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>

  <%= f.submit %>
<% end %>
