  <aside class="projects__sidebar">

    <nav class="menu">
      <div class="menu__sitename">Simplist</div>
      <div class="menu__control">&#9776;</div>
    </nav>

    <header class="projects__title">
      <h5 class="label">Lists</h5>
    </header>

    <ul class="list areas">
      <% @list.each do |list| %>
      <li class="areas__item areas__item">
        <span class="circle" style="background-color: #<%=list.color %>;"></span><%=list.title %>
      </li>
      <% end %>
    </ul>

    <hr/>

    <ul class="list actions">
      <li class="actions__item">
        <%=link_to new_list_path do %>
          <span class="icon"><%= fa_icon "plus-square" %></span>New List
        <% end %>
      </li>
      <li class="actions__item">
        <span class="icon"><%= fa_icon "gear" %></span>Settings
      </li>
      <li class="actions__item">
        <span class="icon"><%= fa_icon "info-circle" %></span>Help
      </li>
    </ul>
  </aside>