<div class="projects flex">

  <%= render 'sidebar' %>

  <div class="projects__content">

    <div class="infobar">
      <div class="infobar__listtitle">
        Inbox
      </div>
      <div class="infobar__itemcount">
        4 Items
      </div>
    </div>

    <ul class="todos">

      <li class="todos__item todos__item--complete">
        <div class="todos__status">
          <%= fa_icon "check" %>
        </div>
        <div class="todos__title">
          Buy coffee
        </div>
        <div class="todos__tag">
          <div class="tag tag--buy">Buy</div>
        </div>
      </li>

      <li class="todos__item">
        <div class="todos__status">
          <%= fa_icon "check" %>
        </div>
        <div class="todos__title">
          Oil change
        </div>
        <div class="todos__tag">
          <div class="tag tag--do">Do</div>
        </div>
      </li>

      <li class="todos__item">
        <div class="todos__status">
          <%= fa_icon "check" %>
        </div>
        <div class="todos__title">
          Feed Mary's dog
        </div>
        <div class="todos__tag">
          <div class="tag tag--do">Do</div>
        </div>
      </li>

      <li class="todos__item">
        <div class="todos__status">
          <%= fa_icon "check" %>
        </div>
        <div class="todos__title">
          Person of Interest
        </div>
        <div class="todos__tag">
          <div class="tag tag--watch">Watch</div>
        </div>
      </li>

      <li class="todos__item">
        <div class="todos__status">
          <%= fa_icon "check" %>
        </div>
        <div class="todos__title">
          Call Frank
        </div>
        <div class="todos__tag">
          <div class="tag tag--call">Call</div>
        </div>
      </li>

      <li class="todos__item">
        <div class="todos__status">
          <%= fa_icon "check", class: "check" %>
        </div>
        <div class="todos__title">
          Check on badges at printer
        </div>
        <div class="todos__tag">
          <div class="tag tag--visit">Visit</div>
        </div>
      </li>

  </div>
</div>