<div class="projects flex">
  <aside class="projects--flatlist">

    <nav class="menu">
      <div class="menu--sitename">Simplist</div>
      <div class="menu--control">&#9776;</div>
    </nav>

    <header class="projects--title">
      <h5 class="label">Lists</h5>
    </header>

    <ul class="list areas">
      <li class="areas__item areas__item selected">
        <span class="circle green"></span>Inbox</li>
      <li class="areas__item">
        <span class="circle orange"></span>House</li>
      <li class="areas__item">
        <span class="circle yellow"></span>Portfolio Site</li>
      <li class="areas__item">
        <span class="circle purple"></span>Recipes</li>
    </ul>

    <hr/>

    <ul class="list actions">
      <li class="actions__item">
        <span class="icon"><%= fa_icon "plus-square" %></span>New List
      </li>
      <li class="actions__item">
        <span class="icon"><%= fa_icon "gear" %></span>Settings
      </li>
      <li class="actions__item">
        <span class="icon"><%= fa_icon "info-circle" %></span>Help
      </li>
  </aside>

  <div class="projects--content">

    <div class="infobar">
      <div class="infobar--listtitle">
        Inbox
      </div>
      <div class="infobar--itemcount">
        4 Items
      </div>
    </div>

    <ul class="todos">

      <li class="todos__item todos__item--complete">
        <div class="todos__status">
          <%= fa_icon "check" %>
        </div>
        <div class="todos__title">
          Buy coffee
        </div>
        <div class="todos__tag">
          <div class="tag tag--buy">Buy</div>
        </div>
      </li>

      <li class="todos__item">
        <div class="todos__status">
          <%= fa_icon "check" %>
        </div>
        <div class="todos__title">
          Oil change
        </div>
        <div class="todos__tag">
          <div class="tag tag--do">Do</div>
        </div>
      </li>

      <li class="todos__item">
        <div class="todos__status">
          <%= fa_icon "check" %>
        </div>
        <div class="todos__title">
          Feed Mary's dog
        </div>
        <div class="todos__tag">
          <div class="tag tag--do">Do</div>
        </div>
      </li>

      <li class="todos__item">
        <div class="todos__status">
          <%= fa_icon "check" %>
        </div>
        <div class="todos__title">
          Person of Interest
        </div>
        <div class="todos__tag">
          <div class="tag tag--watch">Watch</div>
        </div>
      </li>

      <li class="todos__item">
        <div class="todos__status">
          <%= fa_icon "check" %>
        </div>
        <div class="todos__title">
          Call Frank
        </div>
        <div class="todos__tag">
          <div class="tag tag--call">Call</div>
        </div>
      </li>

      <li class="todos__item">
        <div class="todos__status">
          <%= fa_icon "check", class: "check" %>
        </div>
        <div class="todos__title">
          Check on badges at printer
        </div>
        <div class="todos__tag">
          <div class="tag tag--visit">Visit</div>
        </div>
      </li>

  </div>
</div>